 QUESTION 1:

The following is a list of 10 students ages: ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] • Sort the list and find the min and max age • Add the min age and the max age again to the list • Find the median age (one middle item or two middle items divided by two) • Find the average age (sum of all items divided by their number) • Find the range of the ages (max minus min)

In [ ]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find the min and max age
min_age = min(ages)
max_age = max(ages)

# Add the min and max age again to the list
ages.append(min_age)
ages.append(max_age)

# Sort the updated list
ages.sort()

# Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]

# Find the average age
average_age = sum(ages) / n

# Find the range of the ages
age_range = max_age - min_age

# Print the results
print("Sorted list:", ages)
print("Min age:", min_age)
print("Max age:", max_age)
print("Median age:", median_age)
print("Average age:", average_age)
print("Range of ages:", age_range)

Sorted list: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Range of ages: 7

QUESTION 2:
• Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [ ]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

# Create a student dictionary and add the required keys
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Data Analysis'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills = student['skills']
skills_type = type(skills)

# Modify the skills values by adding one or two skills
student['skills'].extend(['Machine Learning', 'Deep Learning'])

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

# Print the results
print("Dog dictionary:", dog)
print("Student dictionary:", student)
print("Length of student dictionary:", student_length)
print("Skills value:", skills)
print("Skills data type:", skills_type)
print("Modified skills:", student['skills'])
print("Student dictionary keys:", student_keys)
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of student dictionary: 9
Skills value: ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning']
Skills data type: <class 'list'>
Modified skills: ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning'], 'USA', 'New York', '123 Main St']

QUESTION 3:

Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to
family_members

In [ ]:
# Create a tuple containing names of your sisters and your brothers
sisters = ('Alice', 'Emma')
brothers = ('Jack', 'Henry')

# Join brothers and sisters tuples
siblings = brothers + sisters

# How many siblings do you have?
num_siblings = len(siblings)

# Modify the siblings tuple and add the name of your father and mother
family_members = ('Father', 'Mother') + siblings

# Print the results
print("Siblings tuple:", siblings)
print("Number of siblings:", num_siblings)
print("Family members tuple:", family_members)

Siblings tuple: ('Jack', 'Henry', 'Alice', 'Emma')
Number of siblings: 4
Family members tuple: ('Father', 'Mother', 'Jack', 'Henry', 'Alice', 'Emma')

QUESTION 4:

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set it_companies
length_it_companies = len(it_companies)

# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')

# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['Intel', 'Cisco', 'HP'])

# 4. Remove one of the companies from the set it_companies
it_companies.remove('IBM')

# 5. What is the difference between remove and discard
# - 'remove' raises KeyError if the element is not present
# - 'discard' does nothing if the element is not present
# Both remove the specified element if it exists in the set

# 6. Join A and B
joined_set = A.union(B)

# 7. Find A intersection B
intersection_set = A.intersection(B)

# 8. Is A subset of B
is_subset = A.issubset(B)

# 9. Are A and B disjoint sets
are_disjoint = A.isdisjoint(B)

# 10. Join A with B and B with A
joined_A_B = A.union(B)
joined_B_A = B.union(A)

# 11. What is the symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)

# 12. Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
length_list = len(age)
length_set = len(age_set)

print("Length of it_companies:", length_it_companies)
print("it_companies after adding Twitter and multiple IT companies:", it_companies)
print("Joined set of A and B:", joined_set)
print("Intersection of A and B:", intersection_set)
print("Is A a subset of B:", is_subset)
print("Are A and B disjoint sets:", are_disjoint)
print("Joined A with B:", joined_A_B)
print("Joined B with A:", joined_B_A)
print("Symmetric difference between A and B:", symmetric_difference)
print("Length of age list:", length_list)
print("Length of age set:", length_set)

Length of it_companies: 7
it_companies after adding Twitter and multiple IT companies: {'Cisco', 'Oracle', 'Facebook', 'HP', 'Intel', 'Microsoft', 'Google', 'Apple', 'Twitter', 'Amazon'}
Joined set of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B: True
Are A and B disjoint sets: False
Joined A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joined B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

QUESTION 5:

The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area

In [ ]:
import math

# Given radius
radius = 30

# Calculate the area of the circle
area_of_circle = math.pi * radius**2

# Calculate the circumference of the circle
circum_of_circle = 2 * math.pi * radius

print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

# Take radius as user input
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius**2

print("Area of the circle with user input radius:", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 5
Area of the circle with user input radius: 78.53981633974483

QUESTION 6:

“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words.

In [ ]:
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Get unique words using set
unique_words = set(words)

# Count the number of unique words
num_unique_words = len(unique_words)

print("Number of unique words:", num_unique_words)

Number of unique words: 10

QUESTION 7:

Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

In [ ]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

QUESTION 8:

Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [ ]:
radius = 10
area = 3.14 * radius ** 2

output = "The area of a circle with radius {} is {} meters square.".format(radius, area)

print(output)

The area of a circle with radius 10 is 314.0 meters square.

QUESTION 9:

Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [ ]:
# Read the number of students from the user
N = int(input("Enter the number of students: "))

# Initialize an empty list to store weights in lbs.
weights_lbs = []

# Read weights of students in lbs.
print("Enter the weights of students in lbs:")
for i in range(N):
    weight = float(input(f"Student {i+1}: "))
    weights_lbs.append(weight)

# Convert weights from lbs to kg and store in a separate list
weights_kg = []
for weight in weights_lbs:
    weight_kg = weight * 0.453592  # Conversion factor: 1 lb = 0.453592 kg
    weights_kg.append(round(weight_kg, 2))

print("Weights in kilograms:", weights_kg)

Enter the number of students: 6
Enter the weights of students in lbs:
Student 1: 10
Student 2: 50
Student 3: 60
Student 4: 25
Student 5: 75
Student 6: 34
Weights in kilograms: [4.54, 22.68, 27.22, 11.34, 34.02, 15.42]